{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FinNews</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,900|Ubuntu&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

  <section id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="{% url 'home' %}">FinNews</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>


      <!-- Title -->

      <div class="row">

      	<div class="col-lg-12">
          <h1>What is FinNews?</h1>
        </div>


        <div class="col-lg-12">
        	<p class="what-is-finnews-blurb">
          		FinNews is a personalized portfolio tracker integrating the latest financial data with relevant news articles.
          		Begin by developing a list of stocks you are interested in. FinNews will then automatically gather the most relevant
          		news surrounding your portfolio to help you further engage and develop your portfolio.
        	</p>
        </div>

		<div class="col-lg-12">
          <h1>Who Are We?</h1>
        </div>


 		<div class="col-lg-2">
 		</div>
 		<div class="col-lg-4">
 			<img src="{% static 'image/stock-market.jpg' %}" class="img-thumbnail" alt="Anton Njavro headshot">
 		</div>
 		<div class="col-lg-4, profile">
			<h2>Anton Njavro</h2>
			<p>Boston University, Class of 2020 <br>
 				Major: Computer Science
 			</p>
 			<button type="button" class="btn btn-outline-light btn-md connect-button">Connect</button>
		</div>
		<div class="col-lg-2">
		</div>



		<div class="col-lg-2">
 		</div>
 		<div class="col-lg-4, profile">
			<h2>Kaelyn Shinbashi</h2>
			<p>Boston University, Class of 2020 <br>
 				Major: Computer Science
 			</p>
 			<button type="button" class="btn btn-outline-light btn-md connect-button">Connect</button>
		</div>
		<div class="col-lg-4">
 			<img src="{% static 'image/stock-market.jpg' %}" class="img-thumbnail" alt="Kaelyn Shinbashi headshot">
 		</div>
		<div class="col-lg-2">
		</div>


		<div class="col-lg-2">
 		</div>
		<div class="col-lg-4">
 			<img src="{% static 'image/stock-market.jpg' %}" class="img-thumbnail" alt="Zhitong Su headshot">
 		</div>
 		<div class="col-lg-4, profile">
			<h2>Zhitong Su</h2>
			<p>Boston University, Class of 2021 <br>
 				Major: Computer Science & Economics
 			</p>
 			<button type="button" class="btn btn-outline-light btn-md connect-button">Connect</button>
		</div>
		<div class="col-lg-2">
		</div>


		<div class="col-lg-2">
 		</div>
 		<div class="col-lg-4, profile">
			<h2>Danielle Wong &nbsp; &nbsp; &nbsp; </h2>
			<p>Boston University, Class of 2020 <br>
 				Major: Business Administration
 			</p>
 			<button type="button" class="btn btn-outline-light btn-md connect-button">Connect</button>
		</div>
		<div class="col-lg-4">
 			<img src="{% static 'image/stock-market.jpg' %}" class="img-thumbnail" alt="Kaelyn Shinbashi headshot">
 		</div>
		<div class="col-lg-2">
		</div>





	  </div>

    </div>

  </section>
