{% extends 'base.html' %}
{% block content %}
{% load socialaccount %}
<h1>Welcome, {{ user.username }} !</h1>
<br/>
<br/>

<div class="container">
	{% if ticker %}
		{{ticker}}
	{%endif%}
  <div class="row">
    <div class="col">
    {% if api %}
    	{% if api == "Error..." %}
			<h1>API ERROR</h1>
		{% else %}
    	<h1>{{api.companyName}}</h1><br/>
		Price: ${{api.latestPrice}}<br/>
		Previous close: {{api.prevousClose}}<br/>
		Market Cap: {{api.marketCap}}<br/>
		YTD Change: {{api.ytdChange}}<br/>
		52 Week High: ${{api.week52High}}<br/>
		52 Week Low: ${{api.week52Low}}<br/>
		{% endif %}
	{% endif %}

    </div>
    <div class="col">
    {% if api %}
    	{% if news_api == "Error..." %}
			<h1>NEWS API ERROR</h1>
		{% else %}
		<h1 class="display-3">Related News</h1><br/>
    	Title: {{news_api}}<br/>
		Price: ${{api.latestPrice}}<br/>
		Previous close: {{api.prevousClose}}<br/>
		Market Cap: {{api.marketCap}}<br/>
		YTD Change: {{api.ytdChange}}<br/>
		52 Week High: ${{api.week52High}}<br/>
		52 Week Low: ${{api.week52Low}}<br/>
		{% endif %}
	{% endif %}
    </div>
    <div class="w-100"></div>
  </div>
</div>


{% endblock %}
