{% extends 'base.html' %}
{% block content %}
<h1>Get the latest news!</h1>
<br/>

<form action="{% url 'stock_news' %}" class="form-inline my-2 my-lg-0" method="POST">
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Stock News" name="ticker">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Stock</button>
</form>


<div class="container">
  <div class="row">
    <div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor ut justo ut pulvinar. Cras malesuada neque ut nunc iaculis ornare. Curabitur blandit quam vitae neque consequat rhoncus. Nunc dui erat, tincidunt ut lectus ac, commodo commodo nibh. Nulla varius sodales nulla, eget rhoncus lectus facilisis vel. Sed id est sagittis, varius libero luctus, euismod eros. Curabitur id mi efficitur, mattis ante quis, aliquam felis. Morbi eu luctus urna. Fusce pellentesque nisi ut vulputate euismod. Nam et lorem ullamcorper, vestibulum justo vitae, scelerisque mi. Nunc sit amet elementum urna, a pharetra orci. In placerat odio luctus neque efficitur, non porta ex maximus. Quisque vel lacus nisl. Praesent a sem vitae lacus pharetra molestie.

In tincidunt tristique dolor vel rutrum. Quisque tempus elementum vulputate. Aliquam efficitur, sem vitae cursus tempor, nisl elit lobortis augue, et ultricies purus lorem ut odio. Nam ullamcorper eleifend tincidunt. In pellentesque ante sed libero ornare egestas. Sed egestas aliquet ornare. Suspendisse molestie, sem in ultrices placerat, felis purus suscipit dui, in facilisis ipsum nulla sed nunc.

Suspendisse purus ligula, porta at convallis vitae, ullamcorper ac quam. Donec consequat luctus ligula, euismod accumsan mi rutrum eget. Pellentesque sit amet dictum enim. Nullam placerat leo sed sapien viverra rutrum. Phasellus at porta leo, ullamcorper vestibulum diam. Phasellus viverra nibh quis lacus varius aliquam. Curabitur aliquam vitae diam ut eleifend. In a leo vulputate, imperdiet est id, dictum eros. Suspendisse quis auctor tellus. Proin accumsan pretium bibendum. Proin at metus quis quam interdum volutpat quis sed neque. In hac habitasse platea dictumst. Duis posuere lectus cursus, cursus est vehicula, viverra lectus. Praesent et diam nibh.

Pellentesque luctus ligula quis purus aliquam bibendum. Proin ac ipsum ut sapien hendrerit dignissim. Phasellus velit nisi, congue nec sem at, sollicitudin feugiat lorem. Nullam tempus nibh sapien, a suscipit velit aliquet non. Sed et faucibus justo. Nam nec risus odio. Morbi efficitur pulvinar diam. Ut id ullamcorper sapien. Donec magna nulla, dignissim ut ornare at, ullamcorper a turpis. Suspendisse iaculis dui at fringilla sollicitudin. Sed ultrices, magna gravida semper consequat, sapien elit volutpat dolor, consequat blandit quam sem vitae lacus. Mauris vitae suscipit elit. In eget odio mattis, porta nulla at, ultricies odio.</div>
    <div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor ut justo ut pulvinar. Cras malesuada neque ut nunc iaculis ornare. Curabitur blandit quam vitae neque consequat rhoncus. Nunc dui erat, tincidunt ut lectus ac, commodo commodo nibh. Nulla varius sodales nulla, eget rhoncus lectus facilisis vel. Sed id est sagittis, varius libero luctus, euismod eros. Curabitur id mi efficitur, mattis ante quis, aliquam felis. Morbi eu luctus urna. Fusce pellentesque nisi ut vulputate euismod. Nam et lorem ullamcorper, vestibulum justo vitae, scelerisque mi. Nunc sit amet elementum urna, a pharetra orci. In placerat odio luctus neque efficitur, non porta ex maximus. Quisque vel lacus nisl. Praesent a sem vitae lacus pharetra molestie.

In tincidunt tristique dolor vel rutrum. Quisque tempus elementum vulputate. Aliquam efficitur, sem vitae cursus tempor, nisl elit lobortis augue, et ultricies purus lorem ut odio. Nam ullamcorper eleifend tincidunt. In pellentesque ante sed libero ornare egestas. Sed egestas aliquet ornare. Suspendisse molestie, sem in ultrices placerat, felis purus suscipit dui, in facilisis ipsum nulla sed nunc.

Suspendisse purus ligula, porta at convallis vitae, ullamcorper ac quam. Donec consequat luctus ligula, euismod accumsan mi rutrum eget. Pellentesque sit amet dictum enim. Nullam placerat leo sed sapien viverra rutrum. Phasellus at porta leo, ullamcorper vestibulum diam. Phasellus viverra nibh quis lacus varius aliquam. Curabitur aliquam vitae diam ut eleifend. In a leo vulputate, imperdiet est id, dictum eros. Suspendisse quis auctor tellus. Proin accumsan pretium bibendum. Proin at metus quis quam interdum volutpat quis sed neque. In hac habitasse platea dictumst. Duis posuere lectus cursus, cursus est vehicula, viverra lectus. Praesent et diam nibh.

Pellentesque luctus ligula quis purus aliquam bibendum. Proin ac ipsum ut sapien hendrerit dignissim. Phasellus velit nisi, congue nec sem at, sollicitudin feugiat lorem. Nullam tempus nibh sapien, a suscipit velit aliquet non. Sed et faucibus justo. Nam nec risus odio. Morbi efficitur pulvinar diam. Ut id ullamcorper sapien. Donec magna nulla, dignissim ut ornare at, ullamcorper a turpis. Suspendisse iaculis dui at fringilla sollicitudin. Sed ultrices, magna gravida semper consequat, sapien elit volutpat dolor, consequat blandit quam sem vitae lacus. Mauris vitae suscipit elit. In eget odio mattis, porta nulla at, ultricies odio.</div>
    <div class="w-100"></div>
  </div>
</div>



{% endblock %}